### **Задание 1.** Продумать структуру базы данных и отрисовать в редакторе.

In [ ]:
Table location {
  location_id integer [primary key]
  postcode integer
  state text
  country text
}

Table customer {
  customer_id integer [primary key]
  first_name varchar(50)
  last_name varchar(50)
  gender varchar(10)
  DOB date
  job_title text
  job_industry_category varchar(100)
  wealth_segment varchar(50)
  deceased_indicator bool
  owns_car bool
  address text
  location_id integer
  property_valuation numeric
}

Table product {
  product_id integer [primary key]
  brand varchar(50)
  product_line varchar(50)
  product_class varchar(50)
  product_size varchar(10)
  list_price numeric(10,2)
  standard_cost numeric(10,2)
}

Table transaction {
  transaction_id integer [primary key]
  product_id integer
  customer_id integer
  transaction_date dtae
  online_order bool
  order_status varchar(20)
}

// Define relationships
Ref: transaction.product_id > product.product_id
Ref: transaction.customer_id > customer.customer_id
Ref: customer.location_id > location.location_id

![Сustomer and transaction db](customer_and_transaction_db.png)

### **Задание 2.** Нормализовать базу данных (1НФ — 3НФ), описав, к какой нормальной форме приводится таблица и почему таблица в этой нормальной форме изначально не находилась.

**Почему таблица изначально не соответствовала 3НФ?**
- В Transactions была частичная зависимость данных о продукте от product_id, что нарушало 2НФ.
- В Customers была транзитивная зависимость state и country от postcode, что нарушало 3НФ.

**Нормализация (1НФ → 3НФ)**
1. В таблице Transactions атрибуты brand, product_line, product_class, product_size, list_price, standard_cost зависят только от product_id, а не от всей транзакции.
Решение: вынести эти данные в отдельную таблицу Products, а в Transactions оставить только product_id. Вынесение продуктов в Products устраняет нарушение 2НФ.
2. В таблице Customers поле postcode зависит от address, а state и country — от postcode. Это транзитивные зависимости.
Решение: вынести postcode, state, country в отдельную таблицу Locations. Вынесение местоположений в Locations устраняет нарушение 3НФ.

**Теперь база данных нормализована, соответствует 3НФ и состоит из четырех взаимосвязанных таблиц:**
- Customers (информация о клиентах)
- Products (информация о продуктах)
- Transactions (записи о покупках)
- Locations (информация о местоположениях)

### **Задание 3.** Создать все таблицы в DBeaver, указав первичные ключи к таблицам, правильные типы данных, могут ли поля быть пустыми или нет (использовать команду CREATE TABLE).

In [ ]:
CREATE TABLE location (
    location_id INTEGER PRIMARY KEY,
    postcode INTEGER NOT NULL, 
    state TEXT NOT NULL, 
    country TEXT NOT NULL
);

CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY, 
    first_name VARCHAR(50) NOT NULL, 
    last_name VARCHAR(50), 
    gender VARCHAR(10) NOT NULL,
    DOB DATE, 
    job_title TEXT, 
    job_industry_category VARCHAR(100), 
    wealth_segment VARCHAR(50), 
    deceased_indicator BOOLEAN NOT NULL DEFAULT FALSE, 
    owns_car BOOLEAN NOT NULL DEFAULT FALSE, 
    address TEXT NOT NULL, 
    location_id INTEGER NOT NULL,
    property_valuation NUMERIC
);

CREATE TABLE product (
    product_id INTEGER PRIMARY KEY, 
    brand VARCHAR(50), 
    product_line VARCHAR(50), 
    product_class VARCHAR(50), 
    product_size VARCHAR(10), 
    list_price NUMERIC(10,2) NOT NULL, 
    standard_cost NUMERIC(10,2)
);

CREATE TABLE transaction (
    transaction_id INTEGER PRIMARY KEY, 
    product_id INTEGER NOT NULL, 
    customer_id INTEGER NOT NULL, 
    transaction_date DATE NOT NULL, 
    online_order BOOLEAN NOT NULL DEFAULT FALSE, 
    order_status VARCHAR(20) NOT NULL
);

### **Задание 4.** Загрузить данные в таблицы в соответствии с созданной структурой (использовать команду INSERT INTO или загрузить файлы, используя возможности инструмента DBeaver; в случае загрузки файлами приложить скрины, что данные действительно были залиты).

In [ ]:
INSERT INTO location (location_id, postcode, state, country)
VALUES
(1, 2016, 'New South Wales', 'Australia'),
(2, 2153, 'New South Wales', 'Australia'),
(3, 4211, 'QLD', 'Australia'),
(4, 2448, 'New South Wales', 'Australia'),
(5, 3216, 'VIC', 'Australia'),
(6, 2210, 'New South Wales', 'Australia'),
(7, 2650, 'New South Wales', 'Australia'),
(8, 2023, 'New South Wales', 'Australia'),
(9, 3044, 'VIC', 'Australia'),
(10, 4557, 'QLD', 'Australia'),
(11, 3799, 'VIC', 'Australia');

INSERT INTO customer (customer_id, first_name, last_name, gender, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, owns_car, address, location_id, property_valuation)
VALUES
(1, 'Laraine', 'Medendorp', 'F', '1953-10-12', 'Executive Secretary', 'Health', 'Mass Customer', FALSE, TRUE, '060 Morning Avenue', 1, 10),
(2, 'Eli', 'Bockman', 'Male', '1980-12-16', 'Administrative Officer', 'Financial Services', 'Mass Customer', FALSE, TRUE, '6 Meadow Vale Court', 2, 10),
(3, 'Arlin', 'Dearle', 'Male', '1954-01-20', 'Recruiting Manager', 'Property', 'Mass Customer', FALSE, TRUE, '0 Holy Cross Court', 3, 9),
(4, 'Talbot', NULL, 'Male', '1961-10-03', NULL, 'IT', 'Mass Customer', FALSE, FALSE, '17979 Del Mar Point', 4, 4),
(5, 'Sheila-kathryn', 'Calton', 'Female', '1977-05-13', 'Senior Editor', 'n/a', 'Affluent Customer', FALSE, TRUE, '9 Oakridge Court', 5, 9),
(6, 'Curr', 'Duckhouse', 'Male', '1966-09-16', NULL, 'Retail', 'High Net Worth', FALSE, TRUE, '4 Delaware Trail', 6, 9),
(7, 'Fina', 'Merali', 'Female', '1976-02-23', NULL, 'Financial Services', 'Affluent Customer', FALSE, TRUE, '49 Londonderry Lane', 7, 4),
(8, 'Rod', 'Inder', 'Male', '1962-03-30', 'Media Manager I', 'n/a', 'Mass Customer', FALSE, FALSE, '97736 7th Trail', 8, 12),
(9, 'Mala', 'Lind', 'Female', '1973-03-10', 'Business Systems Development Analyst', 'Argiculture', 'Affluent Customer', FALSE, TRUE, '93405 Ludington Park', 9, 8),
(10, 'Fiorenze', 'Birdall', 'Female', '1988-10-11', 'Senior Quality Engineer', 'Financial Services', 'Mass Customer', FALSE, TRUE, '44339 Golden Leaf Alley', 10, 4),
(11, 'Uriah', 'Bisatt', 'Male', '1954-04-30', NULL, 'Property', 'Mass Customer', FALSE, FALSE, '2 Sutherland Street', 11, 6);

INSERT INTO product (product_id, brand, product_line, product_class, product_size, list_price, standard_cost)
VALUES
(2, 'Solex', 'Standard', 'medium', 'medium', 71.49, 53.62),
(3, 'Trek Bicycles', 'Standard', 'medium', 'large', 2091.47, 388.92),
(37, 'OHM Cycles', 'Standard', 'low', 'medium', 1793.43, 248.82),
(88, 'Norco Bicycles', 'Standard', 'medium', 'medium', 1198.46, 381.10),
(78, 'Giant Bicycles', 'Standard', 'medium', 'large', 1765.3, 709.48),
(25, 'Giant Bicycles', 'Road', 'medium', 'medium', 1538.99, 829.65),
(22, 'WeareA2B', 'Standard', 'medium', 'medium', 60.34, 45.26),
(15, 'WeareA2B', 'Standard', 'medium', 'medium', 1292.84, 13.44),
(67, 'Solex', 'Standard', 'medium', 'large', 1071.23, 380.74),
(12, 'WeareA2B', 'Standard', 'medium', 'medium', 1231.15, 161.60);

INSERT INTO transaction (transaction_id, product_id, customer_id, transaction_date, online_order, order_status)
VALUES
(1, 2, 2950, '2017-02-25', FALSE, 'Approved'),
(2, 3, 3120, '2017-05-21', TRUE, 'Approved'),
(3, 37, 402, '2017-10-16', FALSE, 'Approved'),
(4, 88, 3135, '2017-08-31', FALSE, 'Approved'),
(5, 78, 787, '2017-10-01', TRUE, 'Approved'),
(6, 25, 2339, '2017-03-08', TRUE, 'Approved'),
(7, 22, 1542, '2017-04-21', TRUE, 'Approved'),
(8, 15, 2459, '2017-07-15', FALSE, 'Approved'),
(9, 67, 1305, '2017-08-10', FALSE, 'Approved'),
(10, 12, 3262, '2017-08-30', TRUE, 'Approved');